

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Calibri;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }

}


li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    animation: slideIn 1s;
}




.mdi-delete {
    color: red;
    cursor: pointer;
    transition: 300ms;
}


#app {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
}

.mdi-delete:hover {
    filter: brightness(70%);
    transition: 300ms;
}



.mdi-delete:active {
    filter: brightness(40%);
}

